/* 
Site Name: Bootstrap Pricing Tables
Cycle: Development
Office: USA
Year: 2016
URL: http://jvining.github.io/Bootstrap-Pricing-Tables
*/

body a, body a:link, body a:hover, body a:focus{text-decoration:none!important;}
body a:hover{cursor:pointer}
body {text-rendering:optimizeLegibility; background:#fbfbfb; padding-top:50px; font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';}
 	
h1,h2,h3,h4,h5{font-weight:300;}
[class*="col-"]{color:#666;}

/* Vertical Offsets */
.voffset {margin-top: 0.2em;}  .voffset0 {margin-top: 0.5em}
.voffset1 {margin-top: 1em;}   .voffset2 {margin-top: 2em;} 
.voffset3 {margin-top: 3em;}   .voffset4 {margin-top: 4em;} 
.voffset5 {margin-top: 5em;}   .voffset6 {margin-top: 6em;}
.voffset7 {margin-top: 7em;}   .voffset8 {margin-top: 8em;}
.voffset9 {margin-top: 9em;}   .voffsetx {margin-top: 10em;}

footer{margin: 50px 0;}

/*** // Pricing Page Specific CSS // ***/

#pricing-page .panel-body {background-color:#aaa;}

#pricing-page .panel .price {border: 1px solid rgb(236, 236, 236); }
#pricing-page .panel .price, .panel.price>.panel-heading{ border-radius:0px;  -moz-transition: all .3s ease; -o-transition:  all .3s ease; -webkit-transition:  all .3s ease; }
#pricing-page .panel .price:hover{ box-shadow: 0px 0px 30px rgba(0,0,0, .2); }
#pricing-page .panel .price:hover>.panel-heading{ box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset; }

#pricing-page .panel.price>.panel-heading{ box-shadow: 0px 3px 0px rgba(200,200,200, .2) inset; }

#pricing-page .price .panel-footer {color: #fff; border-bottom:0px; background-color:  rgba(0,0,0, .1); box-shadow: 0px 3px 0px rgba(0,0,0, .3);}
#pricing-page .price .pricing-qty {color:gray;}

#pricing-page .panel .panel-body p strong {color: #a7060f; font-weight:900; font-size:2.1em;}
#pricing-page .panel-body p strike {font-size:2em; }

#pricing-page .btn-register{text-shadow:1px 1px #333;}
#pricing-page .btn-register:hover{background:#a7060f;}
